{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_CHASTITY_STATISTICS') }}</h1>

<p>{{ lang('ACP_CHASTITY_STATISTICS_EXPLAIN') }}</p>

<fieldset>
	<legend>{{ lang('ACP_CHASTITY_GLOBAL_STATS') }}</legend>
	<dl>
		<dt><strong>{{ lang('CHASTITY_TOTAL_PERIODS') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ TOTAL_PERIODS }}</dd>
	</dl>
	<dl>
		<dt><strong>{{ lang('CHASTITY_TOTAL_DAYS') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ TOTAL_DAYS }}</dd>
	</dl>
	<dl>
		<dt><strong>{{ lang('ACP_CHASTITY_TOTAL_USERS') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ TOTAL_USERS }}</dd>
	</dl>
	<dl>
		<dt><strong>{{ lang('ACP_CHASTITY_ACTIVE_PERIODS') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ ACTIVE_PERIODS }}</dd>
	</dl>
	<dl>
		<dt><strong>{{ lang('ACP_CHASTITY_AVERAGE_DAYS') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ AVERAGE_DAYS }}</dd>
	</dl>
</fieldset>

{% if loops.top_users is defined and loops.top_users|length %}
<fieldset>
	<legend>{{ lang('ACP_CHASTITY_TOP_USERS') }}</legend>
	<table class="table1 zebra-table">
		<thead>
			<tr>
				<th>{{ lang('USERNAME') }}</th>
				<th>{{ lang('CHASTITY_TOTAL_DAYS') }}</th>
				<th>{{ lang('CHASTITY_TOTAL_PERIODS') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for top_users in loops.top_users %}
			<tr>
				<td>{{ top_users.USERNAME }}</td>
				<td>{{ top_users.TOTAL_DAYS }}</td>
				<td>{{ top_users.TOTAL_PERIODS }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</fieldset>
{% endif %}

{% include 'overall_footer.html' %}
