{% if postrow.CHASTITY_BADGE and postrow.S_SHOW_IN_POSTS %}
<dd class="profile-chastity">
	<center>
	<br>
	{% if postrow.CHASTITY_STATUS == 'locked' %}
		<strong style="color: #BC2A4D;">🔒 {{ lang('CHASTITY_PROFILE_LOCKED_SINCE') }} {{ postrow.CHASTITY_DAYS }} {{ lang('CHASTITY_DAYS') }}</strong>
	{% elseif postrow.CHASTITY_STATUS == 'free' %}
		<strong style="color: #228B22;">🔓 {{ lang('CHASTITY_STATUS_FREE') }} {{ lang('CHASTITY_DAYS_SINCE') }} {{ postrow.CHASTITY_DAYS }} {{ lang('CHASTITY_DAYS') }}</strong>
	{% elseif postrow.CHASTITY_STATUS == 'none' %}
		<strong style="color: #228B22;">🔓 {{ lang('CHASTITY_STATUS_FREE') }}</strong>
	{% endif %}
	<br>
	<br>
	</center>
</dd>
{% endif %}
