<!-- IF postrow.OKDISPLAY_BADGE -->
<dd class="profile-chastity">
	<center>
	<br>
	<!-- IF postrow.CHASTITY_STATUS == 'locked' -->
		<strong>🔒 Verrouillé depuis <span style="color: #BC2A4D;">{{ postrow.CHASTITY_DAYS }} {{ lang('CHASTITY_DAYS') }}</span></strong>
	<!-- ELSEIF postrow.CHASTITY_STATUS == 'free' -->
		<strong>🔓 <span style="color: #228B22;">{{ lang('CHASTITY_STATUS_FREE') }} depuis {{ postrow.CHASTITY_DAYS }} {{ lang('CHASTITY_DAYS') }}</span></strong>
	<!-- ELSEIF postrow.CHASTITY_STATUS == 'none' -->
		<strong>🔓 <span style="color: #228B22;">{{ lang('CHASTITY_STATUS_FREE') }}</span></strong>
	<!-- ENDIF -->
	<br>
	<br>
	</center>
</dd>
<!-- ENDIF -->
