{% include 'ucp_header.html' %}

{% INCLUDECSS '@verturin_chastitytracker/chastity.css' %}

<h2>{{ lang('UCP_CHASTITY_CHASTPRIVACY') }}</h2>
<div class="panel">
    <div class="inner">
        <p>{{ lang('UCP_CHASTITY_CHASTPRIVACY_EXPLAIN') }}</p>

        <form method="post" action="{{ U_ACTION }}">
            <fieldset>
                <legend>{{ lang('CHASTITY_PREFS_GENDER_LEGEND') }}</legend>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_GENDER') }}{{ lang('COLON') }}<br /><span>{{ lang('CHASTITY_PREFS_GENDER_EXPLAIN') }}</span></dt>
                    <dd>
                        <label><input type="radio" name="gender" value="male" {% if GENDER == 'male' %}checked{% endif %} /> {{ lang('CHASTITY_GENDER_MALE') }}</label>&nbsp;
                        <label><input type="radio" name="gender" value="female" {% if GENDER == 'female' %}checked{% endif %} /> {{ lang('CHASTITY_GENDER_FEMALE') }}</label>&nbsp;
                        <label><input type="radio" name="gender" value="other" {% if GENDER == 'other' %}checked{% endif %} /> {{ lang('CHASTITY_GENDER_OTHER') }}</label>
                    </dd>
                </dl>
            </fieldset>

            <fieldset>
                <legend>🏆 {{ lang('CHASTITY_PREFS_RECORD_LEGEND') }}</legend>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_RECORD_PM') }}{{ lang('COLON') }}<br /><span>{{ lang('CHASTITY_PREFS_RECORD_PM_EXPLAIN') }}</span></dt>
                    <dd>
                        <input type="radio" name="record_pm_receive" value="1" {% if RECORD_PM_RECEIVE %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="record_pm_receive" value="0" {% if not RECORD_PM_RECEIVE %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
            </fieldset>
            <fieldset>
                <legend>{{ lang('CHASTITY_PREFS_PROFILE') }}</legend>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_STATUS') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_status" value="1" {% if SHOW_STATUS %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_status" value="0" {% if not SHOW_STATUS %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_DAYS') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_days" value="1" {% if SHOW_DAYS %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_days" value="0" {% if not SHOW_DAYS %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_TOTAL') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_total_days" value="1" {% if SHOW_TOTAL_DAYS %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_total_days" value="0" {% if not SHOW_TOTAL_DAYS %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_YEAR_STATS') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_year_stats" value="1" {% if SHOW_YEAR_STATS %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_year_stats" value="0" {% if not SHOW_YEAR_STATS %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_BEST_YEAR') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_best_year" value="1" {% if SHOW_BEST_YEAR %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_best_year" value="0" {% if not SHOW_BEST_YEAR %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_BEST_MONTH') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_best_month" value="1" {% if SHOW_BEST_MONTH %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_best_month" value="0" {% if not SHOW_BEST_MONTH %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
            </fieldset>

            <fieldset>
                <legend>{{ lang('CHASTITY_PREFS_VISIBILITY') }}</legend>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_IN_POSTS') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_in_posts" value="1" {% if SHOW_IN_POSTS %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_in_posts" value="0" {% if not SHOW_IN_POSTS %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_IN_CONTACT') }}{{ lang('COLON') }}</dt>
                    <dd>
                        <input type="radio" name="show_in_contact" value="1" {% if SHOW_IN_CONTACT %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_in_contact" value="0" {% if not SHOW_IN_CONTACT %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ lang('CHASTITY_PREFS_SHOW_CALENDAR_DETAILS') }}{{ lang('COLON') }}
                        <br><span style="font-size:0.85em;color:#888;font-weight:normal;">{{ lang('CHASTITY_PREFS_SHOW_CALENDAR_DETAILS_EXPLAIN') }}</span>
                    </dt>
                    <dd>
                        <input type="radio" name="show_calendar_details" value="1" {% if SHOW_CALENDAR_DETAILS %}checked{% endif %} /> {{ lang('YES') }}&nbsp;
                        <input type="radio" name="show_calendar_details" value="0" {% if not SHOW_CALENDAR_DETAILS %}checked{% endif %} /> {{ lang('NO') }}
                    </dd>
                </dl>
            </fieldset>

            <fieldset class="submit-buttons">
                <input type="submit" name="save_prefs" value="{{ lang('SUBMIT') }}" class="button1" />
            </fieldset>

            {{ S_FORM_TOKEN }}
        </form>
    </div>
</div>

{% include 'ucp_footer.html' %}